body{
    background: #eeedec;
    /* background: #0b0a2b; */
    letter-spacing: 0.2em;
    font-size: 0.8em;
}
.container{
    max-width: 500px;
}
.icon{
    position: relative;
    top: -50px;
    width: 100px;
    margin-bottom: -50px;
}